# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment folders
venv/
env/
ENV/
env.bak/
venv.bak/

# IDE configurations
.vscode/
.idea/

# MacOS specific files
.DS_Store

# Log files
*.log

# Other common files to ignore
*.pkl
*.h5
